.current {
  color: red;
}

.main {
  text-align: center;
  font-family: "Helvatica", sans-serif;
  display: block;
  margin: 0 30% 0;
}

@media screen and (max-width: 600px) {
  .main {
    width: 100%; /* The width is 100%, when the viewport is 600px or smaller */
    margin: 0;
  }
}